[workspace]
channels = ["conda-forge"]
name = "sst-rsoxs-profile-collection"
platforms = ["linux-64"]
version = "2025.3.1"

[system-requirements]
libc = "2.17"

[feature.profile.dependencies]
bluesky-base = "==1.14.6"
bluesky-queueserver = "*"
matplotlib-base= ">=3.9.3,<4"
networkx = ">=3.4.2,<4"
nslsii = "==0.11.4"
numpy = "*"
ophyd = ">=1.11.0"
pyepics = "*"
python = ">=3.12,<3.13"
semver = ">=3.0.4,<4"
tiled-client = ">=0.1.6"
hdf5-external-filter-plugins = ">=0.1.0,<0.2"
blosc-hdf5-plugin = ">=1.0.1,<2"
ipython = ">=9.5.0,<10"
databroker = "==2.0.0"
epicscorelibs = ">=7.0.7.99.1.1,<8"
pyzmq = ">=27.0.2,<28"
bluesky-tiled-plugins = ">=2.0.0b68"
ophyd-async = ">=0.13.7,<0.14"

[feature.nbs.dependencies]
pyhyperscattering = ">=0.2.10,<0.3"

[feature.nbs.pypi-dependencies]
nbs-core = { git = "https://github.com/xraygui/nbs-core", rev = "v0.0.2" }
nbs-bl = { git = "https://github.com/xraygui/nbs-bl", rev = "v0.1.2" }
sst-base = { git = "https://github.com/nsls-ii-sst/sst_base", rev = "v0.1.0" }
rsoxs = { git = "https://github.com/usnistgov/sst-rsoxs", branch = "main" }
pvxslibs = ">=1.3.2, <2"

[feature.gui-base.dependencies]
asteval = ">=1.0.6,<2"
bluesky-widgets = ">=0.0.17,<0.0.18"
bluesky-live = ">=0.0.8,<0.0.9"
qt6-wayland = "*"
pyside6 = "*"

[feature.gui.pypi-dependencies]
livetable = { git="https://github.com/xraygui/livetable" }
nbs-gui = { git="https://github.com/xraygui/nbs-gui", rev="v0.1.1" }
qtconsole = "*"

[feature.viewer.dependencies]
pyqtgraph = ">=0.13.7,<0.14"

[feature.viewer.pypi-dependencies]
#nbs-viewer = ">=0.3.4, <0.4"
nbs-viewer = { git = "https://github.com/xraygui/nbs-viewer", branch="combination"}

[feature.qs.dependencies]
bluesky-queueserver = "*"
bluesky-httpserver = "*"

[feature.qs.tasks]
# This section needs some development work to understand the best way to
# thread the required configuration through both the task and files checked into
# the profile.  These will interact with the ansible roles for pushing out the
# systemd units
qs-backend = "start-re-manager --profile-dir=."
qs-server = "uvicorn --host localhost --port 60610 bluesky_httpserver.server:app"
qs = "scripts/qs-start.sh"
qs-dev = "scripts/qs-dev.sh"

[feature.terminal.dependencies]
ipython = ">=9.5.0"
numpy = ">2"

[feature.terminal.tasks]
start = "unset SESSION_MANAGER PYTHONPATH && MPLBACKEND=qtagg ipython --profile-dir=."
pvs = "ipython --profile-dir=. -c 'get_pv_types(); exit()'"

[feature.gui.tasks]
gui = "scripts/gui-start.sh"
gui-dev = "scripts/gui-dev.sh"


[feature.viewer.tasks]
viewer = "scripts/viewer-start.sh"
viewer-dev = "scripts/viewer-dev.sh"

[feature.gui.dependencies]
asteval = ">=1.0.6,<2"
pyqtgraph = ">=0.13.7,<0.14"
bluesky-widgets = ">=0.0.17,<0.0.18"
bluesky-live = ">=0.0.8,<0.0.9"

[environments]
terminal = {features=["profile", "terminal"], solve-group="profile"}
qs = {features=["profile", "nbs", "qs"], solve-group="profile"}
gui = {features=["profile", "nbs", "gui-base", "gui"], solve-group="profile"}
viewer = {features=["profile", "gui-base", "viewer"], solve-group="viewer"}
